.git
.github
.gitignore

frontend
node_modules
frontend/node_modules
frontend/dist

notebooks
data

*.ipynb
*.mp3
*.wav
*.flac
*.m4a

music_genre_models.zip
music_genre_models

__pycache__
*.pyc
*.pyo
*.pyd

.vscode
.idea
